body, header, nav, section, footer, article, div, a, p, h1, ul, li {
    margin:0;
    padding:0;
}
body {
    width:100%;
    font-family: Calibri, Arial, sans-serif;
    font-size:16px;
    position:relative;
}

#wrapper {
    width:1200px;
    position:relative;
    margin: 0 auto;
}
 header {
     height:50px;
     background:#D2D7D9;
      box-shadow: 10px 10px 5px #888888;
     z-index:4;
 }

#logo img {
    width:50px;
    height:50px;
    float:left;
    padding-right:5px;
}

a#site-name {
  font-size:2.5em;
  float:left;
  margin-right:30px;
  color:#50656B;
}
#search {
    border:1px solid grey;
    border-radius:5px;
    height:30px;
    box-shadow: 10px 10px 5px #888888;
    margin-top:13px;
}
#search:focus {
    outline:none;
}
#main-nav {
    min-width:250px;

}

#main-nav ul {
    list-style-type:none;
        margin: 0px 10px;
}
#main-nav ul li {
    padding:10px;
    display:inline-block;
            background-color:#50656B;
            margin-top:13px;
            box-shadow: 10px 10px 5px #888888;
            font-weight:bold;
            
}
            #main-nav ul li:hover {
            background-color:#8ec9dd;
            }
        
#main-nav ul li.signal-btn {
            background-color:#e4a819;
    font-weight:bold;
}
            #main-nav ul li.signal-btn:hover {
            background-color:#f2c864;
            }

#main-nav a {
    text-decoration: none;
    color:black;
}

#log-in,
#user-section {
        position: absolute;
    right:0;
    top:0;
}
#log-in-form {
            position:relative;
            z-index:2;
            box-shadow: 10px 10px 5px #888888;
}
    #log-in-form input{
        display:block;
    }
    #user-section {
        padding-right:5px;
    }
    #user-section a {
        color:#50656B;
    }
#slider-section {
    position:relative;
    padding: 0 300px;
    margin-top:20px;
    box-shadow: 10px 10px 5px #888888;
    background: #ffffff;
    background: -moz-linear-gradient(left,  #ffffff 0%, #143038 51%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(51%,#143038), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(left,  #ffffff 0%,#143038 51%,#ffffff 100%);
    background: -o-linear-gradient(left,  #ffffff 0%,#143038 51%,#ffffff 100%);
    background: -ms-linear-gradient(left,  #ffffff 0%,#143038 51%,#ffffff 100%);
    background: linear-gradient(to right,  #ffffff 0%,#143038 51%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
    z-index:1;
}
#slider1_container {
    border: 7px solid rgba(20,48,56, 0.5);

}
#main-content {
    width:1200px;
    position:relative;
    text-align:center;
    margin:20px 0;
}

.main-article {
    display:inline-block;
    width: 350px;
    height: 80px;
    vertical-align:top;
    padding: 10px 15px;
    text-align:left;
    border-radius:5px;
    box-shadow: 10px 10px 5px #888888;
}
    .main-article:hover {
        background: #E4E7E8;
    }
    .main-article h1 {
        color:black;
    }
    .main-article p {
        text-align:justify;
        color:grey;
    }
       .main-article a {
        text-decoration:none;      
    }

footer {
    font-size: 0.8rem;
    color:grey;
    clear:both;
}

    footer ul {
        list-style-type:none;
        margin-top:5px;
    }

        footer ul li {
            display:inline-block;
            border-right: 1px solid grey;
            padding:3px 5px;
            float:left;
        }
            footer ul li:last-of-type {
                border: none;
            }
            footer ul li a {
            color:grey;
        }
            /*footer ul li ul {
                position:absolute;
            }
                footer ul li ul li {
                display:block;
                padding-left:5px;
                border: none;
            }*/
    footer .copyright {
        margin-right:5px;
        position:absolute;
        float:right;
        right:0;

    }

.hidden {
    display:none;
}

#problem-items-container,
#problem-details-container {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  padding: 0;
    box-shadow: 10px 10px 5px #888888;
      margin-bottom:20px;
}
#problem-items-container {
  width: 32%;
}
#problem-details-container {
  width: 65%;
}
#problem-details-container:after {
    clear: both;
  display: block;
  content: '';
  height: 0;
}
.problems-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.problems-list .problem-item {
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #888;
  border-top: none;
  background-color: #50656B;
}
.problems-list .problem-item:first-of-type {
  border-top: 1px solid #888;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.problems-list .problem-item:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.problems-list .problem-item:hover {
  background-color: #8ec9dd;
}
.problems-list .problem-item a {
  color: #000;
  text-decoration: none;
}
.problems-list .problem-item a .problem-title {
  display: block;
}
.problems-list .problem-item a .author {
  float: right;
}
.problems-list .problem-item a:after {
  clear: both;
  display: block;
  content: '';
  height: 0;
}
.problem-details {
  background-color: #50656B;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 15px;
  min-height:263px;
}
.problem-details p {
  margin: 0;
}
.problem-details img {
    height:200px;
    float:left;
    margin-right:10px;
}
.problem-details .problem-title {
  font-size: 1.7em;
  margin-top: 0;
  margin-bottom: 10px;
}

.problem-item .location {
    display: inline;
}