body, header, nav, section, footer, article, div, a, p, h1, ul, li {
    margin:0;
    padding:0;
}
body {
    width:100%;
    font-family: Calibri, Arial, sans-serif;
    font-size:16px;
    position:relative;
}

#wrapper {
    width:1200px;
    position:relative;
    margin: 0 auto;
}
 header {
     height:80px;
 }
#logo img {
    width:50px;
    height:50px;
    float:left;
    padding-right:5px;
}

a#site-name {
  font-size:2.5em;
  float:left;
  margin-right:30px;
  text-decoration: none;
}
#main-nav {
    min-width:250px;
}

#main-nav ul {
    list-style-type:none;
    margin: 10px 10px;
}
#main-nav ul li {
    padding:10px;
    display:inline-block;
    background-color:#ffd800;
}
#main-nav ul li.signal-btn {
    background-color:#ff0000;
    font-weight:bold;
}

#main-nav a {
    text-decoration: none;
    color:black;
}

#log-in,
#user-section {
        position: absolute;
    right:0;
    top:0;
}
#log-in-form {

}
    #log-in-form input{
        display:block;
    }
#slider-section {
    position:relative;
    margin: 0 300px;

}
#main-content {
    width:1200px;
    position:relative;
    text-align:center;
    margin:20px 0;
}

.main-article {
    display:inline-block;
    width: 350px;
    height: 80px;
    vertical-align:top;
    padding: 5px 15px;
    text-align:left;
    border-radius:5px;
}
    .main-article:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    .main-article h1 {
        color:black;
    }
    .main-article p {
        text-align:justify;
        color:grey;
    }
       .main-article a {
        text-decoration:none;      
    }

footer {
    border-top: 1px solid black;
    font-size: 0.8rem;
}

    footer ul {
        list-style-type:none;
        margin-top:5px;
    }

        footer ul li {
            display:inline-block;
            border-right: 1px solid black;
            padding:3px 5px;
        }
            footer ul li:last-of-type {
                border: none;
            }
            footer ul li ul {
                position:absolute;
            }
                footer ul li ul li {
                display:block;
                padding-left:5px;
                border: none;
            }
    footer .copyright {
        margin-right:5px;
        position:absolute;
        right:0;

    }

.hidden {
    display:none;
}

#problem-items-container,
#problem-details-container {
  float: left;
  margin-top: 25px;
  margin-left: 10px;
  padding: 0;
}
#problem-items-container {
  width: 30%;
}
#problem-details-container {
  width: 65%;
}
.problems-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.problems-list .problem-item {
  margin: 0;
  padding: 5px 15px;
  border: 1px solid #888;
  border-top: none;
  background-color: #add8e6;
}
.problems-list .problem-item:first-of-type {
  border-top: 1px solid #888;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.problems-list .problem-item:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.problems-list .problem-item:hover {
  background-color: #8ec9dd;
}
.problems-list .problem-item a {
  color: #000;
  text-decoration: none;
}
.problems-list .problem-item a .problem-title {
  display: block;
}
.problems-list .problem-item a .author {
  float: right;
}
.problems-list .problem-item a:after {
  clear: both;
  display: block;
  content: '';
  height: 0;
}
.problem-details {
  background-color: #add8e6;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 15px;
}
.problem-details p {
  margin: 0;
}
.problem-details .problem-title {
  font-size: 1.7em;
  margin-top: 0;
  margin-bottom: 10px;
}
.problem-details .isbn {
  font-style: italic;
  font-family: 'Consolas';
}
.problem-details .isbn:before {
  content: '(ISBN: ';
}
.problem-details .isbn:after {
  content: ')';
}
.problem-details .publish-date {
  font-style: italic;
  font-family: 'Consolas';
  font-weight: 700;
}
.problem-details .author {
  font-size: 1.1em;
}
.problem-details .description {
  margin-top: 10px;
  text-align: justify;
}

.problem-item .location {
    display: inline;
}